# 현재 가상환경에서 버전 확인하는법: pip show 라이브러리이름 | findstr Version
# 파이썬 설치시 자동으로 생기는 라이브러리는 적지 않음.(예: os, sys, math, datetime, json, random 등)
# 언어명도 적지 않음.
streamlit==1.37.1
streamlit-extras==0.4.7
pandas==2.2.2
numpy==1.26.4
matplotlib==3.9.2
seaborn==0.13.2
